.menu {
	position: absolute;
    background-color: #ffff;
    color: #444;
    top: 100%;
    width: 100%;
    min-height: 200px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.menu_top {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}